In [2]:
import pandas as pd

In [3]:
# splits = {'train': 'musique_ans_v1.0_train.jsonl', 'validation': 'musique_ans_v1.0_dev.jsonl'}
# train_df = pd.read_json("hf://datasets/dgslibisey/MuSiQue/" + splits["train"], lines=True)
# val_df = pd.read_json("hf://datasets/dgslibisey/MuSiQue/" + splits["validation"], lines=True)

In [4]:
# save the train and val df locally as json
# train_df.to_json("train.json", orient='records', lines=True)
# val_df.to_json("val.json", orient='records', lines=True)

### Loading the dataset

In [5]:
# load the train and val df from local json
train_df = pd.read_json("train.json", lines=True)
val_df = pd.read_json("val.json", lines=True)

In [6]:
len(train_df), len(val_df)

(19938, 2417)

---
### Visualising the dataset

In [7]:
train_df.tail()

,id,paragraphs,question,question_decomposition,answer,answer_aliases,answerable
19933,4hop1__670964_344284_86983_516763,"[{'idx': 0, 'title': 'Alaska Purchase', 'parag...","What was the military branch of the president,...","[{'id': 670964, 'question': 'Verde Vallis >> i...",Union Army,[],True
19934,4hop1__803353_344284_86983_516763,"[{'idx': 0, 'title': 'Stura Vallis', 'paragrap...",The Stura Vallis is the same type of geographi...,"[{'id': 803353, 'question': 'Stura Vallis >> i...",Union Army,[],True
19935,4hop1__228811_344284_86983_516763,"[{'idx': 0, 'title': 'Valley of Ten Thousand S...",The Tyras Vallis is the same type of geographi...,"[{'id': 228811, 'question': 'Tyras Vallis >> i...",Union Army,[],True
19936,4hop1__495205_206801_524406_670567,"[{'idx': 0, 'title': 'List of World Heritage S...",The author of the Eddie & the Gang with No Nam...,"[{'id': 495205, 'question': 'Eddie & the Gang ...",UNESCO World Heritage Site,"[World Heritage Site, World heritage site, Wor...",True
19937,4hop1__853032_206801_524406_670567,"[{'idx': 0, 'title': 'Cycle of Violence', 'par...",There are 32 of what kind of international her...,"[{'id': 853032, 'question': 'Cycle of Violence...",UNESCO World Heritage Site,"[World Heritage Site, World heritage site, Wor...",True

In [8]:
train_df['paragraphs'][0][0:2]

[{'idx': 0,
  'title': 'Pakistan Super League',
  'paragraph_text': 'Pakistan Super League (Urdu: پاکستان سپر لیگ \u202c \u200e; PSL) is a Twenty20 cricket league, founded in Lahore on 9 September 2015 with five teams and now comprises six teams. Instead of operating as an association of independently owned teams, the league is a single entity in which each franchise is owned and controlled by investors.',
  'is_supporting': False},
 {'idx': 1,
  'title': 'Serena Wilson',
  'paragraph_text': 'Serena Wilson (August 8, 1933 – June 17, 2007), often known just as "Serena", was a well-known dancer, choreographer, and teacher who helped popularize belly dance in the United States. Serena\'s work also helped legitimize the dance form and helped it to be perceived as more than burlesque or stripping. Serena danced in clubs in her younger years, opened her own studio, hosted her own television show, founded her own dance troupe, and was the author of several books about belly dance.',
  'is_supporting': False}]

In [9]:
train_df['question'][0]

'When was the institute that owned The Collegian founded?'

In [10]:
train_df['question_decomposition'][0]

[{'id': 482757,
  'question': 'The Collegian >> owned by',
  'answer': 'Houston Baptist University',
  'paragraph_support_idx': 5},
 {'id': 12019,
  'question': 'When was #1 founded?',
  'answer': '1960',
  'paragraph_support_idx': 9}]

---
### Number of <i>answerable</i> rows

In [11]:
# find the number of rows where the column `answerable` is True
num_answerable = train_df['answerable'].sum()

# total number of rows
total_rows = train_df.shape[0]

print(f"Number of answerable rows: {num_answerable}")
print(f"Total number of rows: {total_rows}")

Number of answerable rows: 19938
Total number of rows: 19938

---
### Average length of the all the paragraphs per datapoint

In [12]:
overall_avg_len = 0
max_len = 0
overall_avg_num_paras = 0
for i in range(total_rows):
    paragraph_texts = [text['paragraph_text'] for text in train_df['paragraphs'][i]]
    num_paras = len(paragraph_texts)
    avg_len = sum([len(paragraph) for paragraph in paragraph_texts]) 
    max_len = max(max_len, sum([len(paragraph) for paragraph in paragraph_texts]))     
    overall_avg_len += avg_len
    overall_avg_num_paras += num_paras
    
overall_avg_len = overall_avg_len / total_rows
overall_avg_num_paras = overall_avg_num_paras / total_rows


print(f"Average length of each paragraph per datapoint: {overall_avg_len}")
print(f"Average number of paragraphs per datapoint: {overall_avg_num_paras}")

max_len

Average length of each paragraph per datapoint: 9608.253535961481
Average number of paragraphs per datapoint: 19.99819440264821

18568

---
### Average number of decompositions per question

In [13]:
avg_num_decomps = val_df['question_decomposition'].apply(len).mean()
print(f"Average number of decompositions per question: {avg_num_decomps}")

Average number of decompositions per question: 2.6495655771617708

In [14]:
### Average length of the decompositions

overall_avg_len_decomp = 0
for i in range(total_rows):
    avg_len = sum([len(decomp['question']) for decomp in train_df['question_decomposition'][i]]) / len(train_df['question_decomposition'][i])
    overall_avg_len_decomp += avg_len
    
overall_avg_len_decomp = overall_avg_len_decomp / total_rows

print(f"Average length of decompositions per datapoint: {overall_avg_len_decomp}")

Average length of decompositions per datapoint: 38.173805463603884